*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

ul[class],
ol[class] {
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 1440px;
}

.content {
  margin: 0 auto;
  width: 1222px;
}

.wrapper_color {
  background-color: #edf2ec;
}

.icon-logo {
  background-image: url(./assets/image/logo_vector.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
}

.loyaut-2-colomn {
  display: flex;
  justify-content: space-between;
}

.loyaut-2-colomn__header {
  padding: 48px 0;
}
.navigation-link {
  display: flex;
  gap: 49px;
}

.navigation-link a {
  text-decoration: none;
  list-style-type: none;
  color: #010201;
  font-family: "Inika", "Arial", sans-serif;
  font-size: 16px;
  line-height: 50px;
}

.logo {
  font-family: "Inika", "Arial", sans-serif;
}

.welcome__content {
  max-width: 549px;
  font-family: "Inter", "Arial", sans-serif;
}

.text-color {
  color: #499a18;
}

.welcome__information {
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

h1 {
  color: #717171;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}

.button_border {
  padding: 11px 27px;
  border: #e06733 2px solid;
  border-radius: 10px;
  margin-top: 33px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #000000;
  font-family: "Inter", "Arial", sans-serif;
  background: none;
}

.loyaut-2-colomn__welcome {
  padding: 49px 0 58px 0;
}

.about__information {
  max-width: 605px;
  font-family: "Inika", "Arial", sans-serif;
}

.about__header {
  max-width: 462px;
}

.header-green {
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: #499a18;
}

.about-text_colored {
  color: #e06733;
}

.about-text {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.wrapper_withoutcolor {
  background: #ffffff;
}

.loyaut-2-colomn__about {
  padding-top: 88px;
  padding-bottom: 97px;
  align-items: center;
}
