*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

ul[class],
ol[class] {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  margin: 0 auto;
}

.content {
  margin: 0 auto;
  width: 1222px;
}

.wrapper_color {
  background-color: #edf2ec;
}

.icon-logo {
  background-image: url(./assets/image/logo_vector.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
}

.loyaut-2-colomn {
  display: flex;
  justify-content: space-between;
}

.loyaut-2-colomn__header {
  padding: 48px 0;
  align-items: center;
}

.navigation-link {
  display: flex;
  gap: 45px;
  max-width: 452px;
}

.navigation-link li {
  list-style-type: none;
}

.navigation-link li a {
  text-decoration: none;
  color: #010201;
  font-family: "Inika", "Arial", sans-serif;
  font-size: 16px;
  line-height: 50px;
}

.navigation-link a:hover {
  color: #e06733;
}

.logo {
  font-family: "Inika", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.welcome__image {
  background-image: url(./assets/image/leafs.png);
  background-size: cover;
  width: 449px;
  height: 408px;
}

.welcome__content {
  max-width: 549px;
  font-family: "Inter", "Arial", sans-serif;
}

.text-color {
  color: #499a18;
}

.welcome__information {
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

h1 {
  color: #717171;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}

.button_border {
  padding: 11px 27px;
  border: #e06733 2px solid;
  border-radius: 10px;
  margin-top: 33px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #000000;
  font-family: "Inter", "Arial", sans-serif;
  background: none;
}

.button_border:hover {
  background: #e06733;
  color: #ffffff;
}

.loyaut-2-colomn__welcome {
  padding: 49px 0 58px 0;
}

.about__information {
  max-width: 605px;
  font-family: "Inika", "Arial", sans-serif;
}

.about__header {
  max-width: 462px;
}

.header-green {
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: #499a18;
}

.about-text_colored {
  color: #e06733;
}

.about-text {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.wrapper_withoutcolor {
  background: #ffffff;
}

.loyaut-2-colomn__about {
  padding-top: 88px;
  padding-bottom: 97px;
  align-items: center;
}

.about__image {
  background-image: url(./assets/image/houseplant.png);
  background-size: cover;
  width: 464px;
  height: 479px;
}

.loyaut-2-colomn__service {
  flex-direction: column;
  padding-bottom: 122px;
}

.service__navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.service__header {
  max-width: 306px;
  font-family: "Inika", "Arial", sans-serif;
  margin-right: 142px;
}

.button_colored {
  margin-right: 38px;
  font-family: "Inika", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #e06733;
  border: #e06733 1px solid;
  padding: 12px 40px;
  border-radius: 5px;
  width: 161px;
  background: none;
}

.button_colored:hover {
  background: #e06733;
  color: #ffffff;
}

.service__information {
  padding-top: 52px;
  display: flex;
  flex-wrap: wrap;
  gap: 55px 116px;
}

.service__information-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.service__image {
  background-size: cover;
  width: 328px;
  height: 350px;
}

.image-first {
  background-image: url(./assets/image/first.png);
}

.image-second {
  background-image: url(./assets/image/second.png);
}

.image-third {
  background-image: url(./assets/image/third.png);
}

.image-fourth {
  background-image: url(./assets/image/fouth.png);
}

.image-fifth {
  background-image: url(./assets/image/fiveth.png);
}

.image-sixth {
  background-image: url(./assets/image/sixth.png);
}

.works__header {
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #e06733;
  padding-top: 5px;
}

.service__deskription {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  padding-bottom: 16px;
}

.service__deskription-blok {
  border: 1px solid #e3e1d5;
  border-radius: 0px 0px 20px 20px;
}

.prices__header {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.prices__items-colored {
  margin: 0px;
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;
  background-color: #edf2ec;
  border-radius: 20px;
  padding: 14px 40px;
}

.prices__items-colored p {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.prices__items {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 34px 41px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.prices__contsct {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.prices__header_color {
  max-width: 452px;
}

.loyaut-2-colomn__prices {
  padding-top: 40px;
  padding-bottom: 118px;
}

.button_prices {
  margin-top: 40px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #e06733;
  padding: 12px 33.96px 12px 30.04px;
  background: none;
  border: 1px solid #e06733;
  border-radius: 5px;
}

.button_prices:hover {
  background: #e06733;
  color: #ffffff;
}

.prices-information {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 60px;
}

.prices__image {
  padding-top: 34px;
}

.loyout-3-colomn {
  display: flex;
}

.contact__image {
  margin-right: 113px;
}

.loyout-3-colomn__contacts {
  padding-top: 49px;
  align-items: flex-start;
}

.contact__header {
  margin: 0;
  font-family: "Inika", "Arial", sans-serif;
  margin-right: 67px;
}

.contact-city {
  display: flex;
  justify-content: space-between;
  width: 450px;
  background: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  margin-top: 95px;
}

.contact__button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #aea1a1;
  border: none;
  color: #ffffff;
  margin-top: 17px;
  margin-bottom: 17px;
  margin-right: 35px;
}

.city-name {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
  margin: 0;
  margin-left: 20px;
  margin-top: 5px;
}

.loyout-3-colomn__footer {
  justify-content: space-between;
  padding-top: 20px;
}

.footer__github,
.footer__rss {
  display: flex;
  gap: 40px 20px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
}

.footer__github p a,
.footer__rss p a {
  text-decoration: none;
  color: #000000;
}

.footer__github p a:hover,
.footer__rss p a:hover {
  color: #e06733;
}

.footer__social-list {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.footer_social {
  padding-top: 27px;
}

@media (max-width: 1260px) {
  .content {
    width: 980px;
  }
}

@media (max-width: 1000px) {
  .content {
    width: 668px;
  }

  .loyaut-2-colomn__header {
    padding: 32px 0 45px 0;
    align-items: center;
  }

  .loyaut-2-colomn__welcome {
    flex-direction: row-reverse;
    padding: 0;
  }

  .welcome__image {
    width: 280px;
    height: 255px;
    margin-top: 30px;
  }

  .button_border {
    margin-top: 20px;
    margin-bottom: 68px;
  }

  h1 {
    font-size: 35px;
  }

  .welcome__content {
    width: 341px;
  }

  .welcome__information {
    font-size: 16px;
    line-height: 25px;
  }

  .about__image {
    width: 250px;
    height: 258px;
    margin-top: 48px;
  }

  .loyaut-2-colomn__about {
    flex-direction: column;
    padding-top: 39px;
    padding-bottom: 95px;
    margin: 0 auto;
  }

  .header-green {
    text-align: center;
    font-size: 35px;
    line-height: 46px;
  }

  .about__header {
    max-width: 423px;
    margin: 0 auto;
  }

  .about__information {
    max-width: 668px;
  }

  .about-text {
    padding-top: 31px;
  }
}

@media (max-width: 710px) {
  .content {
    width: 330px;
  }

  .navigation {
    display: none;
  }

  .welcome__image {
    display: none;
  }

  .loyaut-2-colomn__welcome {
    padding: 0;
    display: block;
  }

  h1 {
    margin: 0;
    font-size: 25px;
    line-height: 35px;
  }

  .button_border {
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    padding: 5px 16px;
    margin-top: 10px;
    margin-bottom: 24px;
  }

  .welcome__content {
    padding-top: 17px;
  }

  .welcome__information {
    margin-top: 20px;
  }

  .about__image {
    width: 150px;
    height: 147px;
    margin-top: 0px;
  }

  .loyaut-2-colomn__about {
    padding-top: 29px;
    padding-bottom: 36px;
    margin: 0 auto;
  }

  .header-green {
    text-align: center;
    font-size: 25px;
    line-height: 33px;
  }

  .about__header {
    max-width: 288px;
    margin: 0 auto;
  }

  .about__information {
    max-width: 330px;
  }

  .about-text {
    margin: 0;
    font-size: 15px;
    line-height: 25px;
    padding-top: 13px;
  }
}
