*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

ul[class],
ol[class] {
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 1440px;
}

.content {
  margin: 0 auto;
  width: 1222px;
}

.wrapper_color {
  background-color: #edf2ec;
}

.icon-logo {
  background-image: url(./assets/image/logo_vector.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
}

.loyaut-2-colomn {
  display: flex;
  justify-content: space-between;
}

.loyaut-2-colomn__header {
  padding: 48px 0;
}
.navigation-link {
  display: flex;
  gap: 49px;
}

.navigation-link a {
  text-decoration: none;
  list-style-type: none;
  color: #010201;
  font-family: "Inika", "Arial", sans-serif;
  font-size: 16px;
  line-height: 50px;
}

.logo {
  font-family: "Inika", "Arial", sans-serif;
}

.welcome__content {
  max-width: 549px;
  font-family: "Inter", "Arial", sans-serif;
}

.text-color {
  color: #499a18;
}

.welcome__information {
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

h1 {
  color: #717171;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}

.button_border {
  padding: 11px 27px;
  border: #e06733 2px solid;
  border-radius: 10px;
  margin-top: 33px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #000000;
  font-family: "Inter", "Arial", sans-serif;
  background: none;
}

.loyaut-2-colomn__welcome {
  padding: 49px 0 58px 0;
}

.about__information {
  max-width: 605px;
  font-family: "Inika", "Arial", sans-serif;
}

.about__header {
  max-width: 462px;
}

.header-green {
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: #499a18;
}

.about-text_colored {
  color: #e06733;
}

.about-text {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.wrapper_withoutcolor {
  background: #ffffff;
}

.loyaut-2-colomn__about {
  padding-top: 88px;
  padding-bottom: 97px;
  align-items: center;
}

.loyaut-2-colomn__service {
  flex-direction: column;
  padding-bottom: 122px;
}

.service__navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.service__header {
  max-width: 306px;
  font-family: "Inika", "Arial", sans-serif;
  margin-right: 142px;
}

.button_colored {
  margin-right: 38px;
  font-family: "Inika", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #e06733;
  border: #e06733 1px solid;
  padding: 12px 40px;
  border-radius: 5px;
  width: 161px;
  background: none;
}

.service__information {
  padding-top: 52px;
  display: flex;
  flex-wrap: wrap;
  gap: 55px 116px;
}

.service__information-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.works__header {
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #e06733;
  padding-top: 5px;
}

.service__deskription {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  padding-bottom: 16px;
}

.service__deskription-blok {
  border: 1px solid #e3e1d5;
  border-radius: 0px 0px 20px 20px;
}

.prices__header {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.prices__contsct {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.prices__header_color {
  max-width: 452px;
}

.loyaut-2-colomn__prices {
  padding-top: 40px;
}

.button_prices {
  margin-top: 40px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #e06733;
  padding: 12px 33.96px 12px 30.04px;
  background: none;
  border: 1px solid #e06733;
  border-radius: 5px;
}

.prices-information {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.prices__image {
  padding-top: 34px;
}

.prices__items {
  padding-top: 57px;
  padding-bottom: 100px;
}
